/* Style 2: Minimalist Vertical Layout */
/* * {
  border-color: red;
  border-style: dotted;
  border-width: 1px;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.app-header {
  background-color: #2b442d;
  color: white;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 10vh;
}
.app-header h1{
  text-align: center;
  padding: -30px;
}
.header-img {
  height: 100px;	
  padding: -30px;
}

.container-t1 {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 1rem;
  margin-bottom: 20px;
  height: 60vh;
}
.container-t2 {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 1rem;
  height: 35vh;
  justify-content: center;
}

.map {
  display: flex;
  flex: 6 6 auto;
  height: 100%;
  width: 35%;
  border: 2px solid #007bff;
  border-radius: 8px;
  align-items: stretch;
}

.telemetry {
  flex: 1 1 auto;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.cooper {
  display: flex;
  flex: 6 6 auto;
  height: 100%;
  width: 35%;
  border: 2px solid #007bff;
  border-radius: 8px;
  align-items: stretch;
}

.table {
  margin-bottom: 1rem;
  background-color: white;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  #map {
    height: 520px;
  }
  #imuDisplay {
	height: 520px;
  }
}

.data-maxes {
  flex: 1 1 auto;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.data-mins {
  flex: 1 1 auto;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.statuses {
  flex: 1 1 250px;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.status-table {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: right;
  padding-right: 3rem;
}
.statuses span.disconnected {
  color: red;
}
.statuses span.connected {
  color: lime;
}
.mission {
  flex: 1 1 34%;
  background-color: black;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: white;
}
.miss-display {
  font-size: 20px;
}
.mission span.stat-unknown {
  color: red;
}
.mission span.stat-issue {
  color: yellow;
}
.mission span.stat-nominal {
  color: lime;
}